<div *ngIf="data.type === 'detail' ">
  <h1 mat-dialog-title>Detail ouvrages</h1>
    <img style="max-height: 300px; max-width: 400px; " src="{{data.ouvrage.photo}}"/>
  <div mat-dialog-content>
    <div>
      <div class="col">
        <div class="row" >
          <label style="font-size:140%; margin-right: 10px">Titre :</label>
          <label style="font-size:120%;"> {{data.ouvrage.titre}}</label>
        </div>
        <div class="row">
          <label style="font-size:140%; margin-right: 10px">Genre :</label>
          <label style="font-size:120%;">{{data.ouvrage.genre}}</label>
        </div>
        <div class="row">
          <label style="font-size:140%; margin-right: 10px">Statut :</label>
          <label style="font-size:120%;">{{data.ouvrage.statut}}</label>
        </div>
        <div class="row">
          <label style="font-size:140%; margin-right: 10px">ISBN :</label>
          <label style="font-size:120%;">{{data.ouvrage.ISBN}}</label>
        </div>
        <div class="row">
          <label style="font-size:140%; margin-right: 10px">Auteur :</label>
          <label style="font-size:120%;">{{data.ouvrage.auteur}}</label>
        </div>
        <div class="row">
          <label style="font-size:140%; margin-right: 10px">Emplacement physique :</label>
          <label style="font-size:120%;">{{data.ouvrage.emplacementPhysique}}</label>
        </div>
        <div class="row">
          <label style="font-size:140%; margin-right: 10px">Maison d’édition :</label>
          <label style="font-size:120%;">{{data.ouvrage.maisonEdition}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data.type === 'add' ">
  <h1 mat-dialog-title>Add ouvrages</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Titre</mat-label>
        <input required matInput placeholder="titre" [(ngModel)]="newOuvrage.titre">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Genre</mat-label>
        <input required matInput placeholder="genre" [(ngModel)]="newOuvrage.genre">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ISBN</mat-label>
        <input required matInput placeholder="ISBN" [(ngModel)]="newOuvrage.ISBN">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Auteur</mat-label>
        <input required matInput placeholder="auteur" [(ngModel)]="newOuvrage.auteur">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Emplacement physique</mat-label>
        <input required matInput placeholder="emplacementP" [(ngModel)]="newOuvrage.emplacementPhysique">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Maison d’édition</mat-label>
        <input required matInput placeholder="maisonEdition" [(ngModel)]="newOuvrage.maisonEdition">
      </mat-form-field>
    </div>
    <div class="avatar-upload">
      <div class="avatar-edit">
        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="saveAdd(newOuvrage)">Save</button>
    </div>
  </div>
</div>

<div *ngIf="data.type === 'edit' ">
  <h1 mat-dialog-title>Edit ouvrages</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Titre</mat-label>
        <input matInput placeholder="titre" [(ngModel)]="data.ouvrage.titre">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Genre</mat-label>
        <input matInput placeholder="genre" [(ngModel)]="data.ouvrage.genre">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ISBN</mat-label>
        <input matInput placeholder="ISBN" [(ngModel)]="data.ouvrage.ISBN">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Auteur</mat-label>
        <input matInput placeholder="auteur" [(ngModel)]="data.ouvrage.auteur">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Emplacement physique</mat-label>
        <input matInput placeholder="emplacementP" [(ngModel)]="data.ouvrage.emplacementPhysique">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Maison d’édition</mat-label>
        <input matInput placeholder="maisonEdition" [(ngModel)]="data.ouvrage.maisonEdition">
      </mat-form-field>
    </div>
    <div  mat-dialog-actions>
      <button mat-button (click)="saveEdit()">Save</button>
    </div>
  </div>
</div>

